
.DS_Store
inputs/BQ/*
inputs/overrides/*
inputs/pipeline/*
inputs/publications/*
inputs/standford/*
inputs/tbprofiler/*
inputs/test/*
inputs/truncated/*
Intermediate/*
src/__pycache__/*
src/dictionaries/__pycache__/*
*.tsv
tba5_per_sample.tsv
*.pyc
/2024-tba3-redo-compilations
cool new samples
Icon
todo.md
ERS_to_SRS.sh
dontlikethis.py
check_old_version.py
PRJNA701308.xml
PRJNA701308_modified.xml
PRJNA701308_modified_modified.xml
test_run_to_sample.py
rc17 before index swap
RC17_summary.txt
rc18 before index swap
RC18_summary.txt
ranchero_rc17_subset_just_samples_NOT_CURRENT.txt
inputs/txid2750823.txt
inputs/txid2750823.txt
