
.DS_Store
inputs/*
Intermediate/*
src/__pycache__/*
src/dictionaries/__pycache__/*
*.pyc
tba5_per_sample.tsv
cool new samples
Icon
todo.md
ERS_to_SRS.sh
dontlikethis.py
check_old_version.py
PRJNA701308.xml
PRJNA701308_modified.xml
PRJNA701308_modified_modified.xml
test_run_to_sample.py
RC18_summary.txt
bq-results-20250801-215940-1754085716223.json_modified.json
/src/ranchero.egg-info
src/dist/*
/ranchero.egg-info
ranchero_output_archive/*
cases.tsv
dupes_in_index.tsv
update.sh
src/pyproject.toml.bak
