
.DS_Store
inputs/*
Intermediate/*
src/__pycache__/*
src/dictionaries/__pycache__/*
tba5_per_sample.tsv
*.pyc
/2024-tba3-redo-compilations
cool new samples
Icon
todo.md
ERS_to_SRS.sh
dontlikethis.py
check_old_version.py
PRJNA701308.xml
PRJNA701308_modified.xml
PRJNA701308_modified_modified.xml
test_run_to_sample.py
RC18_summary.txt
bq-results-20250801-215940-1754085716223.json_modified.json
/src/ranchero.egg-info
src/dist/ranchero-0.1.0.tar.gz
src/dist/ranchero-0.1.0-py3-none-any.whl
/ranchero.egg-info
ranchero_output_archive/*
cases.tsv
dupes_in_index.tsv
